Source: ros-noetic-teb-local-planner
Section: misc
Priority: optional
Maintainer: Christoph Rösmann <christoph.roesmann@tu-dortmund.de>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-base-local-planner, ros-noetic-catkin, ros-noetic-cmake-modules, ros-noetic-costmap-2d, ros-noetic-costmap-converter, ros-noetic-dynamic-reconfigure, ros-noetic-geometry-msgs, ros-noetic-interactive-markers, ros-noetic-libg2o, ros-noetic-mbf-costmap-core, ros-noetic-mbf-msgs, ros-noetic-message-generation, ros-noetic-nav-core, ros-noetic-nav-msgs, ros-noetic-pluginlib, ros-noetic-roscpp, ros-noetic-std-msgs, ros-noetic-tf2, ros-noetic-tf2-eigen, ros-noetic-tf2-geometry-msgs, ros-noetic-tf2-ros, ros-noetic-visualization-msgs
Homepage: http://wiki.ros.org/teb_local_planner
Standards-Version: 3.9.2

Package: ros-noetic-teb-local-planner
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-base-local-planner, ros-noetic-costmap-2d, ros-noetic-costmap-converter, ros-noetic-dynamic-reconfigure, ros-noetic-geometry-msgs, ros-noetic-interactive-markers, ros-noetic-libg2o, ros-noetic-mbf-costmap-core, ros-noetic-mbf-msgs, ros-noetic-message-runtime, ros-noetic-nav-core, ros-noetic-nav-msgs, ros-noetic-pluginlib, ros-noetic-roscpp, ros-noetic-std-msgs, ros-noetic-tf2, ros-noetic-tf2-ros, ros-noetic-visualization-msgs
Description: The teb_local_planner package implements a plugin to the base_local_planner of the 2D navigation stack.
 The underlying method called Timed Elastic Band locally optimizes the robot's trajectory with respect to trajectory execution time, separation from obstacles and compliance with kinodynamic constraints at runtime.
